.advert-page {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;

  gap: 0.5rem;
}

.advert-page-photo-wrapper {
  display: flex;

  justify-content: center;
  width: 100%;

  background-color: var(--bg-color);
}

.advert-page-photo {
  width: 100%;
  max-width: 200px;
  height: auto;
}

.advert-page-data {
  display: flex;
  flex-direction: column;
  align-items: start;
  width: 100%;
}

.advert-page-handle-delete {
  display: flex;
  flex-direction: column;
  width: 100%;
}

.advert-page-handle-delete {
  width: auto;
  white-space: nowrap;
  align-self: center;
}

@media (min-width: 640px) {
  .advert-page-photo {
    max-width: 300px;
  }
}

@media (min-width: 1024px) {
  .advert-page-photo {
    max-width: 400px;
  }
}
