.advert-item {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;

  gap: 0.5rem;

  background-color: var(--bg-color-5);
}

.advert-item-data {
  display: flex;
  flex-direction: column;
  align-items: start;
  width: 100%;
}

.advert-item-photo-wrapper {
  display: flex;

  justify-content: center;
  width: 100%;
  margin: auto;
  background-color: var(--bg-color);
}

.advert-item-photo-wrapper img {
  max-width: 100%;
  height: auto;
  display: block;
  object-fit: cover;
}
