@import "tailwindcss";

:root {
  --bg-color: #575757e8;
  --bg-color-1: #3a3a3a;
  --bg-color-2: #535353;
  --bg-color-3: #646464;
  --bg-color-4: #7c7c7c;
  --bg-color-5: #919191;
  --bg-color-6: #a5a5a5;
  --bg-color-7: #c0c0c0;

  --bg-color-10: #ffffff;

  /*   --bg-post: white;
  --bg-search: rgb(157, 234, 248);
  --bg-search-2: rgb(245, 254, 255);

  --btn-home: rgb(226, 228, 119);
  --btn-search: rgb(38, 192, 219);

  --btn-p-navbar: rgb(160, 231, 94);
  --btn-s-navbar: rgb(247, 117, 66);

  --btn-p: rgb(191, 243, 142);
  --btn-s: rgb(248, 71, 48); */

  --bg-btn-header: #463f36;
  --bg-btn-header-nav: #5f564a;

  --font-btn-header-nav: #faebd7;
  --font-btn-header: #968c7f;

  --color-1: #463f36;
  --color-2: #bbaf9f;
  --color-4: --color-5: font-family: Arial, sans-serif;
  font-size: clamp(2px, 5vw, 16px);
}

/* a {
  all: unset;
  cursor: pointer;
}

* {
  box-sizing: border-box;
}

ul,
li,
p {
  all: unset;
}
p {
  margin-bottom: 0.5rem;
}

h1,
h2 {
  margin: 0;
  margin-bottom: 1rem;
} */
