header {
  background-color: var(--bg-color-1);
}

header .nav-link {
  font-size: large;
  color: antiquewhite;
  font-weight: bold;
  text-transform: uppercase;
  background-color: var(--bg-btn-header-nav);
  padding: 0.7rem;
  border-radius: 5px;
}

header button {
  all: unset;

  background-color: rgb(70, 63, 54);
  color: var(--font-btn-header);
  font-size: 1.3rem;
  font-weight: bold;
  text-transform: uppercase;
  padding: 0.5rem;
  border: 3px solid rgb(187, 175, 159);
  border-radius: 10px;
}

.header-wrapper {
  width: 100%;
  margin: 0 auto;
}

.header-nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-direction: row;

  padding: 1rem;
  gap: 1.5rem;
}

.header-left {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  flex-direction: row;

  gap: 4rem;
}

.header-nav-links {
  display: flex;
  gap: 1.5rem;
}

.header-logo {
  width: 32px;
  height: 32px;
}

.header-logo svg {
  border-radius: 10px;
}

@media (min-width: 640px) {
  .header-wrapper {
    width: 768px;
  }
  .header-container {
    justify-content: flex-start;
    padding: 1.5rem 2rem;

    gap: 1rem;
  }
  .header-logo {
    width: 64px;
    height: 64px;
  }
}

@media (min-width: 1024px) {
  .header-wrapper {
    width: 1024px;
  }

  .header-container {
    padding: 2rem 3rem;
    gap: 2rem;
  }
}
