main {
  display: flex;
  flex-direction: column;
  justify-content: center;

  width: 100%;

  background-color: var(--bg-color-6);
}

.main-content {
  display: flex;
  align-items: center;
  flex-direction: column;
  margin: 0 auto;
  padding: 1rem;

  justify-content: center;

  background-color: var(--bg-color-7);
}

@media (min-width: 640px) {
  .main-content {
    max-width: 768px;
  }
}

/* Desktops and up */
@media (min-width: 1024px) {
  .main-content {
    max-width: 1024px;
  }
}
